.aside {
    margin: 10px auto;

    @include mq(desktop) {
        grid-row: 2/ span 2;
    }

    &__list {
        list-style: none;
        color: nth($brand, 1);
        text-decoration: underline;
        font-size: 1.8rem;
        cursor: pointer;
    }
}