.header {
    display: grid;
    grid-column: 1/-1;
    justify-items: end;
    align-items: center;


    &__button {
        height: 40px;
        width: 40px;
    }

    &__card {
        max-width: 600px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}