.button {
    background-color: nth($black, 1);
    border: none;
    color: nth($white, 1);
    padding: 5px 10px;
    font-size: 2rem;
    cursor: pointer;

    &--circled {
        border-radius: 50%;
    }

    &--blue {
        color: nth($brand, 1);
    }
}