.card {
    width: 90%;
    padding: 10px 5px;
    margin: 0px auto;
    border-radius: 14px;
    background-color: nth($black, 1);
    color: nth($white, 1);

    &--hidden {
        display: none;
    }

    &--border {
        border: white 3px solid;
    }

    &__title {
        padding: 3px 5px 5px 10px;
        font-size: 2rem;
    }

    &__content {
        padding: 3px 5px 5px 10px;
        font-size: 1.4rem;
    }


}