$brand: (#6ea3f8, #4681DE, rgb(61, 110, 190));
$black:(#252525, #1f1f1f);
$gray:(#efefef);
$white: (rgb(243, 243, 243));


$font-family: 'Open Sans',
sans-serif;

$breakPoints: (mobile: '(min-width: 460px)',
    mobileLandscape: '(max-width: 1024px) and (orientation: landscape)',
    tablet: '(min-width: 670px)',
    desktop: '(min-width:1024px)',
    large: '(min-width:1240px)',
    xlarge: '(min-width:1400px)',
);